.kanji-card {
  min-width: 6rem;

  transition:
    box-shadow 0.2s,
    background 0.2s,
    border 0.2s;
  cursor: pointer;

  mat-card-header,
  mat-card-content {
    align-self: center;
  }

  &:hover {
    background: var(--mat-sys-surface-container-high);
  }

  &.active {
    border: 2px solid var(--mat-sys-primary);
    background: var(--mat-sys-surface-bright);
  }
}
